.back-btn{
    padding: 6px 12px;
    box-shadow: 0 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.main-country-div{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 30px;
}
.country-details{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 64px;
}
.country-details img{
    width: 400px;
    height: 300px;
}
.details-text{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    column-gap: 30px;
    max-height: 130px;
    flex-wrap: wrap;
}
.details-text p{
    margin: 0;
}
.border-countries{
    margin-top: 32px;
}
.border-countries a{
    padding: 6px 12px;
    box-shadow: 0 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin-inline: 4px;
    font-size: 14px;
}


@media(max-width:840px){
    .country-details{
        flex-direction: column;
        align-items: flex-start;
    }
    .details-text{
        display: block;
        max-height: auto;
    }
    .details-text p{
        margin: unset;
    }
    .country-details img{
        width: 100%;
        max-width: 400px;
    }
    .border-countries{
        margin-top: 64px;
    }
}