*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Nunito;
}
.title{
    font-weight: 800;
}
.header-container{
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    padding-inline: 24px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}
.main{
    padding: 24px;
}
.countries-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}
.country-card{
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
}
.country-card:hover{
    background-color: bisque;
    transform: scale(1.05);
}

.country-card img{
    width: 100%;
    height: 150px;
}
.card-text{
    padding-inline: 16px;
}
.card-text p{
    margin-block: 8px;
    padding-bottom: 4px;
}
.card-title{
    font-size: 24px;
    margin-block: 16px;
}


@media(max-width:768px){
    .countries-container{
        justify-content: center;
    }
}